/* for my whisper */
@font-face {
    font-family: 'OZJiaotangxiawucha';
    src: url('OZJiaotangxiawucha.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'QTXiaotu';
    src: url('QTXiaotu.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FZShaeryingbi';
    src: url('FZShaeryingbi.ttf');
    font-weight: normal;
    font-style: normal;
}
