@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
